
* {
    color: white;
    background-color: black;
}

h1 {
    color: white;
}

body {
    padding: 15px ;
    background-color: black;
}

@media only screen and (max-width: 800px) {

    #berufe select, #klassen select {
        font-size: 20px;
        width: 100%;
    }
    #berufe select option, #klassen select option, #datepicker {
        font-size: 20px;
    }

    #tafel {
        overflow-x: scroll;

    }

}
